.text-truncate {
  font-size: 20px;
}

.rdt_TableCol {
  font-size: 20px !important;
  background-color: blue;
  color: white !important;
}

.filter-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 15px;
}

.data-list-action-icon {
  cursor: pointer;
}

.filter {
  margin-right: 15px;
}
